body {
  font-family: Arial, sans-serif;
  margin-bottom: 200px;
}

#container {
  width: 500px;
  margin: 15px auto;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding-bottom: 6px;
}

#new_todo {
  padding: 8px;
  border-radius: 3px;
  width: 490px;
  margin: 0 auto 15px;
  font-size: 16px;
}

.delete_todo {
  float: right;
  display: inline-block;
  color: #ccc;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

#todo_template {
  display: none;
}



  HTML CSSResult
  EDIT ON
  .accordion ul {
      list-style: none;
      margin:0;
  }
  label{
      cursor: pointer;
  }
  .toggle{
      display: none;
  }
  .toggle + ul{
      max-height: 0;
      overflow: hidden;
      transition: all 2s ease;
  }
  .toggle:checked + ul{
      max-height: 999px;
      transition: all 2s ease-in;
  }





  .accordionbox input:checked + label div { 
    display: block; 
    padding: 5px 0px; 
    font-weight:bold;
    transition: all 2s ease-in;
   }


input::placeholder{
  text-align: center;
  font-size:15px;
}

